{
    "openapi": "3.0.3",
    "info": {
        "title": "Cloudlab Portal API",
        "description": "This document describes the Cloudlab Portal API.",
        "version": "1.0.0",
        "license": {
            "name": "Apache 2.0",
            "identifier": "Apache-2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.txt"
        }
    },
    "servers": [
        {
            "url": "http://boss.emulab.net:43795"
        }
    ],
    "components": {
        "schemas": {
            "Error": {
                "properties": {
                    "error": {
                        "example": "The main error message.",
                        "type": "string"
                    },
                    "errors": {
                        "items": {
                            "example": "Additional errors, if any.",
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "code": {
                        "type": "integer",
                        "description" : "HTTP status code if appropriate",
                        "nullable": true
                    }
                },
                "type": "object"
            },
            "PortalID": {
                "type": "string",
                "description": "The target experiment ID.",
                "oneOf": [
                    {
                        "type": "string",
                        "format": "uuid"
                    },
                    {
                        "type": "string",
                        "pattern": "^[-\\w]+,[-\\w]+$"
                    }
                ]
            },
            "AnyAny": {},
            "AnyObject": {
                "type": "object",
                "additionalProperties": true
            },
            "Version": {
                "properties": {
                    "branch": {
                        "example": "master",
                        "type": "string",
                        "nullable": true
                    },
                    "build_timestamp": {
                        "example": "2020-12-18T21:06:28.000Z",
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "commit": {
                        "example": "deadbeef",
                        "type": "string",
                        "nullable": true
                    },
                    "major": {
                        "example": 0,
                        "type": "integer"
                    },
                    "minor": {
                        "example": 1,
                        "type": "integer"
                    },
                    "patch": {
                        "example": 0,
                        "type": "integer"
                    },
                    "version": {
                        "example": "0.1.0",
                        "type": "string"
                    }
                },
                "required": [
                    "major","minor","patch","version"
                ],
                "type": "object"
            },
            "Token" : {
                "type": "object",
                "description": "API Access Token",
                "properties": {
                    "id": {
                        "description": "The token id.",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "user": {
                        "description": "The name of the user that owns the token",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "token": {
                        "description": "The token value.",
                        "example": "",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "expires_at": {
                        "type": "string",
                        "nullable": true,
                        "format": "date-time",
                        "description": "The expiration time as an ISO 8601 string, if any.",
                        "example": "2023-06-30T22:11:05.242530Z",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "issued_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The issue time as an ISO 8601 string.",
                        "example": "2023-06-30T22:10:05.242530Z",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "role": {
                        "$ref": "#/components/schemas/TokenRole",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "scope": {
                        "$ref": "#/components/schemas/TokenScope",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "scope_value": {
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    }
                },
                "required": [
                    "id"
                ]
            },
            "RawToken" : {
                "type": "object",
                "description": "API Access Token string",
                "properties": {
                    "token": {
                        "description": "The token string.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    }
                }
            },
            "TokenRole": {
                "description": "Token role",
                "type": "string",
                "enum": [
                    "user",
                    "admin"
                ]
            },
            "TokenScope": {
                "description": "Token scope",
                "type": "string",
                "enum": [
                    "global",
                    "experiment"
                ]
            },
            "Auth0TokenRequest" : {
                "type": "object",
                "description": "Auth0 request structure for redeeming a token by code",
                "properties": {
                    "grant_type": {
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "code": {
                        "description": "The code being redeemed",
                        "type": "string",
                        "x-immutable-on-post": true
                    },
                    "client_id": {
                        "type": "string",
                        "x-immutable-on-post": true
                    },
                    "client_secret": {
                        "type": "string",
                        "x-immutable-on-post": true
                    },
                    "redirect_uri": {
                        "type": "string",
                        "x-immutable-on-post": true
                    }
                },
                "required": [
                    "code"
                ]
            },
            "Experiment": {
                "type": "object",
                "description": "A cloudlab experiment.",
                "properties": {
                    "id": {
                        "description": "Unique identifier of the experiment.",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "name": {
                        "description": "A human readable name for the experiment .",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "project": {
                        "description": "The project the experiment is instantiated in.",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "group": {
                        "description": "The project subgroup the experiment is instantiated in.",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "profile_id": {
                        "description": "ID of the profile used to create the experiment",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "profile_name": {
                        "description": "Human readable name of the profile.",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "profile_project": {
                        "description": "Human readable name of the profile project",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "creator": {
                        "description": "The name of the creator.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "updater": {
                        "description": "The name of the updater.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The creation time of the experiment",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "start_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The time the experiment is scheduled to start at",
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "stop_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The time the experiment is scheduled to stop at",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "started_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The time the experiment was actually started",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The current expiration time of the experiment (will be auto reaped)",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "status": {
                        "description": "Current status of the experiment.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "wbstore_id": {
                        "description": "The ID of the experiments WB store.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "url": {
                        "description": "The URL of the Portal status page",
                        "type": "string",
                        "format": "uri",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "repository_url": {
                        "description": "The URL of the repository (for repo backed profiles)",
                        "type": "string",
                        "format": "uri",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "repository_refspec": {
                        "description": "The refspec of the experiment (for repo backed profiles)",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "repository_hash": {
                        "description": "The commit hash of the experiment (for repo backed profiles)",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "bindings": {
                        "description": "Bindings applied to the profile as a JSON string",
                        "$ref": "#/components/schemas/AnyObject",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "aggregates": {
                        "description": "List of aggregates in the experiment",
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/AggregateStatus"
                        },
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "last_snapshot_status": {
                        "description": "Status for most recent snapshot request",
                        "$ref": "#/components/schemas/SnapshotStatus",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "sshpubkey": {
                        "description": "Additional ssh public key for the experiment",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "nullable": true
                    }
                },
                "required": [
                    "id"
                ]
            },
            "ExperimentCreate": {
                "type": "object",
                "description": "Create a cloudlab experiment.",
                "properties": {
                    "name": {
                        "description": "A human readable name for the experiment",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "project": {
                        "description": "The project the experiment is instantiated in.",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "group": {
                        "description": "The project subgroup the experiment is instantiated in.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "profile_name": {
                        "description": "The name of the profile.",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "profile_project": {
                        "description": "The name of the profile project",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "start_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Schedule experiment to start at a future time",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "stop_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Schedule experiment to stop at a future time",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "duration": {
                        "type": "integer",
                        "description": "Initial experiment duration in hours",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "paramset_name": {
                        "description": "Optional name of a parameter set to apply to the profile",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "paramset_owner": {
                        "description": "The owner of the parameter set",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "bindings": {
                        "description": "Optional bindings to apply to the profile as a JSON object",
                        "$ref": "#/components/schemas/AnyObject",
                        "x-ref-nullable": true
                    },
                    "refspec": {
                        "description": "For a repository based profile, optionally specify a refspec[:hash] to use instead of the HEAD of the default branch",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "sshpubkey": {
                        "description": "Additional ssh public key for the experiment.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "nullable": true
                    }
                },
                "required": [
                    "name",
                    "project",
                    "profile_name",
                    "profile_project"
                ]
            },
            "ExperimentModify": {
                "type": "object",
                "description": "Modify a running experiment",
                "properties": {
                    "bindings": {
                        "description": "Bindings to apply to the profile as a JSON string",
                        "$ref": "#/components/schemas/AnyObject"
                    }
                },
                "required": [
                    "bindings"
                ]
            },
            "AggregateArray": {
                "type": "object",
                "additionalProperties": {
                    "$ref": "#/components/schemas/AggregateStatus"
                }
            },
            "AggregateList": {
                "type": "object",
                "properties": {
                    "aggregates": {
                        "items": {
                            "$ref": "#/components/schemas/AggregateStatus"
                        },
                        "type": "array"
                    }
                }
            },
            "AggregateStatus": {
                "type": "object",
                "properties": {
                    "urn": {
                        "description": "URN of the aggregate.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "name": {
                        "description": "Human readable name of the aggregate.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "status": {
                        "description": "Current status of the experiment.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "nodes": {
                        "description": "List of nodes at the aggregate",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AggregateNode"
                        },
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    }
                }
            },
            "ExperimentList": {
                "type": "object",
                "properties": {
                    "experiments": {
                        "items": {
                            "$ref": "#/components/schemas/Experiment"
                        },
                        "type": "array"
                    }
                }
            },
            "ExtensionRequest": {
                "type": "object",
                "description": "Extend a running experiment, with a duration, additional number of hours, or an explicit end time",
                "properties": {
                    "expires_at": {
                        "description": "Set the experiment expiration to GMT Date/Time",
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "extend_by": {
                        "type": "integer",
                        "description": "Number of hours to add to the current experiment expiration",
                        "nullable": true
                    },
                    "reason": {
                        "description": "Pithy description of why you need these resources for longer",
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "AggregateNode": {
                "type": "object",
                "description": "Per-node information at each aggregate.",
                "properties": {
                    "urn": {
                        "description": "URN of the node",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "client_id": {
                        "description": "Logical name of the node",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "hostname": {
                        "description": "Qualified hostname of the node.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "ipv4": {
                        "description": "IPV4 of the node.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "status": {
                        "description": "Current status of the node",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "state": {
                        "description": "Current state of the node",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "rawstate": {
                        "description": "Current raw state of the node",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "startup_status": {
                        "description": "Current status of the startup  execution service",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    }
                    
                }
            },
            "UpdateAggregateNode": {
                "type": "object",
                "description": "Perform operational action on a node in an experiment",
                "properties": {
                    "reboot": {
                        "description": "Reboot node.",
                        "x-immutable-on-post": true,
                        "type": "boolean"
                    }
                }
            },
            "AggregateNodeList": {
                "type": "object",
                "properties": {
                    "nodes": {
                        "items": {
                            "$ref": "#/components/schemas/AggregateNode"
                        },
                        "type": "array"

                    }
                }
            },
            "ManifestArray": {
                "type": "object",
                "additionalProperties": {
                    "type" : "string"
                }
            },
            "ManifestList": {
                "type": "array",
                "items" : {
                    "type" : "string"
                }
            },
            "SnapshotRequest": {
                "type": "object",
                "description": "Parameters for taking an image snapshot of a node",
                "properties": {
                    "image_name": {
                        "description": "The name of the image to create or update",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "whole_disk": {
                        "description": "Take a whole disk image.",
                        "x-immutable-on-put": true,
                        "type": "boolean",
                        "default": false
                    }
                },
                "required": [
                    "image_name"
                ]
            },
            "SnapshotStatus": {
                "type": "object",
                "description": "Status of snapshot operation",
                "properties": {
                    "id": {
                        "description": "Unique identifier of the snapshot request",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "status": {
                        "description": "Current status of the snapshot",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "status_timestamp": {
                        "example": "2020-12-18T21:06:28.000Z",
                        "description": "Timestamp of last status update",
                        "format": "date-time",
                        "type": "string",
                        "nullable": true
                    },
                    "image_size": {
                        "description": "Current size of the image in KB",
                        "type": "integer",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "image_urn": {
                        "description": "URN of the new image",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "error_message": {
                        "description": "Error message when snapshot_status indicates failure",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    }
                }
            },
            "PowderZones": {
                "description": "Powder Zone",
                "type": "string",
                "enum": [
                    "Outdoor",
                    "Indoor OTA Lab",
                    "Flux",
                    null
                ],
                "examples" : {
                    "uuid" : {
                        "value": "Outdoor",
                        "summary": "Radio(s) located outdoors"
                    },
                    "name" : {
                        "value": "Indoor OTA Lab",
                        "summary": "Radio(s) located in the indoor OTA lab"
                    },
                    "name" : {
                        "value": "Flux",
                        "summary": "Radio(s) located in the Flux area"
                    }
                }
            },
            "ResGroup": {
                "type": "object",
                "description": "A cloudlab reservation group",
                "properties": {
                    "id": {
                        "description": "Unique identifier of the reservation group",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "reason": {
                        "description": "Pithy description of why you want to reserve these resources",
                        "type": "string"
                    },
                    "project": {
                        "description": "The project of the reservation group",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "group": {
                        "description": "The project subgroup of the reservation group",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "creator": {
                        "description": "The name of the creator.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation time.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "start_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Resgroup start time. When creating a resgroup this can be left unset, which means the resgroup should start immediately. When modifying a resgroup, the start time can be changed until the resgroup is approved. ",
                        "nullable": true
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Resgroup expiration time. When supplied (instead of a duration), this must be later then start_at. When modifying a resgroup, the expiration can be changed until the resgroup is approved. Once the resgroup is approved, the expiration can be moved earlier, but not later.",
                        "nullable": true
                    },
                    "powder_zones": {
                        "$ref": "#/components/schemas/PowderZones",
                        "nullable": true
                    },
                    "nodetypes": {
                        "$ref": "#/components/schemas/ResGroupNodeTypes",
                        "x-ref-nullable": true,
                        "nullable": true
                    },
                    "ranges": {
                        "$ref": "#/components/schemas/ResGroupRanges",
                        "x-ref-nullable": true,
                        "nullable": true
                    },
                    "routes": {
                        "$ref": "#/components/schemas/ResGroupRoutes",
                        "x-ref-nullable": true,
                        "nullable": true
                    }
                },
                "required": [
                    "project",
                    "reason"
                ]
            },
            "ResGroupSearch": {
                "type": "object",
                "description": "A cloudlab reservation group search request",
                "properties": {
                    "project": {
                        "description": "The project of the reservation group",
                        "type": "string"
                    },
                    "group": {
                        "description": "The project subgroup of the reservation group",
                        "type": "string"
                    },
                    "nodetypes": {
                        "$ref": "#/components/schemas/ResGroupNodeTypes"
                    },
                    "ranges": {
                        "$ref": "#/components/schemas/ResGroupRanges"
                    },
                    "routes": {
                        "$ref": "#/components/schemas/ResGroupRoutes"
                    }
                },
                "required": [
                    "project"
                ]
            },
            "ResGroupSearchResult": {
                "type": "object",
                "description": "Start/End where a resgroup will fit",
                "properties": {
                    "start_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Resgroup start time.",
                        "x-immutable-on-put": true
                    },
                    "expires_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Resgroup expiration time.",
                        "x-immutable-on-put": true
                    }
                }
            },
            "ResGroupError": {
                "type": "object",
                "description": "Errors returned when creating/modifying a reservation group",
                "properties": {
                    "error": {
                        "description": "Error message regarding this reservation group",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "errorCode": {
                        "description": "Error code regarding this reservation group",
                        "type": "integer",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "nodetypes": {
                        "$ref": "#/components/schemas/ResGroupNodeTypes"
                    },
                    "ranges": {
                        "$ref": "#/components/schemas/ResGroupRanges"
                    },
                    "routes": {
                        "$ref": "#/components/schemas/ResGroupRoutes"
                    }
                }
            },
            "ResGroupList": {
                "type": "object",
                "properties": {
                    "resgroups": {
                        "items": {
                            "$ref": "#/components/schemas/ResGroup"
                        },
                        "type": "array"
                    }
                }
            },
            "ResGroupNodeTypes": {
                "type": "object",
                "description": "A list of cluster reservation requests",
                "properties": {
                    "nodetypes": {
                        "items": {
                            "$ref": "#/components/schemas/ResGroupNodeType"
                        },
                        "type": "array",
                        "x-ref-nullable": true,
                        "nullable": true
                    }
                }
            },
            "ResGroupNodeType" : {
                "type": "object",
                "description": "A reservation group node/type reservation",
                "properties": {
                    "resgroup_id": {
                        "description": "Unique identifier of the reservation group",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "urn": {
                        "description": "Aggregate URN of the reservation",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "reservation_id": {
                        "description": "Unique identifier of the reservation group reservation at the remote cluster",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "nodetype": {
                        "description": "Node type or node ID",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "count": {
                        "description": "Number of nodes, if a node type",
                        "type": "integer"
                    },
                    "approved_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Approval time.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "canceled_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Cancellation time.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "deleted_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Deletion time.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "error": {
                        "description": "Error message regarding this reservation",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "errorCode": {
                        "description": "Error code regarding this reservation",
                        "type": "integer",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    }
                },
                "required": [
                    "nodetype",
                    "count",
                    "urn"
                ]
            },
            "ResGroupRange" : {
                "properties": {
                    "resgroup_id": {
                        "description": "Unique identifier of the reservation group",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "reservation_id": {
                        "description": "Unique identifier of this range reservation",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "min_freq": {
                        "description": "The start of the frequency range (inclusive) that this grant includes (MHz).",
                        "type": "number",
                        "format": "float"
                    },
                    "max_freq": {
                        "description": "The end of the frequency range (inclusive) that this grant includes (MHz).",
                        "type": "number",
                        "format": "float"
                    },
                    "approved_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Approval time.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "canceled_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Cancellation time.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "error": {
                        "description": "Error message regarding this range",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "errorCode": {
                        "description": "Error code regarding this range",
                        "type": "integer",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    }
                },
                "required": [
                    "min_freq",
                    "max_freq"
                ]
            },
            "ResGroupRanges": {
                "type": "object",
                "description": "A list of range reservation requests",
                "properties": {
                    "ranges": {
                        "items": {
                            "$ref": "#/components/schemas/ResGroupRange"
                        },
                        "type": "array",
                        "x-ref-nullable": true,
                        "nullable": true
                    }
                }
            },
            "ResGroupRoute" : {
                "properties": {
                    "resgroup_id": {
                        "description": "Unique identifier of the reservation group",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "reservation_id": {
                        "description": "Unique identifier of this route reservation",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "name": {
                        "description": "Route name",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "approved_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Approval time.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "canceled_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Cancellation time.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    }
                },
                "required": [
                    "name"
                ]
            },
            "ResGroupRoutes": {
                "type": "object",
                "description": "A list of route reservation requests",
                "properties": {
                    "routes": {
                        "items": {
                            "$ref": "#/components/schemas/ResGroupRoute"
                        },
                        "type": "array",
                        "x-ref-nullable": true,
                        "nullable": true
                    }
                }
            },
            "ResGroupReservation": {
                "type": "object",
                "description": "When adding a reservation to a group, think of this as a Union, so supply only one of nodetype, range, or route at a time.",
                "properties": {
                    "nodetype": {
                        "$ref": "#/components/schemas/ResGroupNodeType"
                    },
                    "range": {
                        "$ref": "#/components/schemas/ResGroupRange"
                    },
                    "route": {
                        "$ref": "#/components/schemas/ResGroupRoute"
                    }
                }
            },
            "Profile": {
                "properties": {
                    "id": {
                        "description": "Unique identifier of the profile",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "name": {
                        "description": "Profile name",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "version": {
                        "description": "The most recent version (current) number",
                        "type": "integer",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "project": {
                        "description": "The project of the profile",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "creator": {
                        "description": "The profile creator.",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation time.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Update time.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "repository_url": {
                        "description": "The URL of the repository (for repo backed profiles)",
                        "type": "string",
                        "format": "uri",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "repository_refspec": {
                        "description": "The refspec of the profile (for repo backed profiles)",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "repository_hash": {
                        "description": "The commit hash of the profile (for repo backed profiles)",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "repository_githook": {
                        "description": "The Portal URL of the repository githook",
                        "type": "string",
                        "format": "uri",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "public": {
                        "description": "The profile can be instantiated by any user",
                        "type": "boolean",
                        "default": false
                    },
                    "project_writable": {
                        "description": "The profile can be modified by other members of its project",
                        "type": "boolean",
                        "default": false
                    },
                    "current_version": {
                        "description": "The current version of the profile",
                        "$ref": "#/components/schemas/ProfileVersion",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "profile_versions": {
                        "description": "List of profile versions",
                        "type": "object",
                        "additionalProperties": {
                            "$ref": "#/components/schemas/ProfileVersion"
                        },
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    }
                },
                "required": [
                    "id"
                ]
            },
            "ProfileVersion": {
                "properties": {
                    "id": {
                        "description": "Unique identifier of the profile version",
                        "type": "string",
                        "format": "uuid",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "version": {
                        "description": "The version number",
                        "type": "integer",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "updater": {
                        "description": "The name of the profile updater",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Creation time of this version.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "deleted_at": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Deletion time of this version.",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true,
                        "nullable": true
                    },
                    "parameters": { },
                    "rspec": {
                        "description": "The GENI rspec",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "x-immutable-on-post": true
                    },
                    "script": {
                        "description": "The GENI lib python script",
                        "type": "string",
                        "nullable" : true
                    }
                }
            },
            "ProfileList": {
                "type": "object",
                "properties": {
                    "profiles": {
                        "items": {
                            "$ref": "#/components/schemas/Profile"
                        },
                        "type": "array"
                    }
                }
            },
            "ProfileCreate": {
                "properties": {
                    "name": {
                        "description": "Profile name",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "project": {
                        "description": "The project of the profile",
                        "type": "string",
                        "x-immutable-on-put": true
                    },
                    "public": {
                        "description": "The profile can be instantiated by any user",
                        "type": "boolean",
                        "default": false
                    },
                    "project_writable": {
                        "description": "The profile can be modified by other members of its project",
                        "type": "boolean",
                        "default": false
                    },
                    "repository_url": {
                        "description": "Optional URL of the repository (for repo backed profiles)",
                        "type": "string",
                        "format": "uri",
                        "x-immutable-on-put": true,
                        "nullable": true
                    },
                    "script": {
                        "description": "The GENI lib python script (when not repo backed)",
                        "type": "string",
                        "x-immutable-on-put": true,
                        "nullable": true
                    }
                },
                "required": [
                    "name",
                    "project"
                ]
            },
            "ProfileModify": {
                "properties": {
                    "script": {
                        "description": "The GENI lib python script (when not repo backed)",
                        "type": "string",
                        "nullable": true
                    },
                    "public": {
                        "description": "The profile can be instantiated by any user",
                        "type": "boolean",
                        "nullable": true
                    },
                    "project_writable": {
                        "description": "The profile can modified by other members of its project",
                        "type": "boolean",
                        "nullable": true
                    }
                }
            }
        },
        "parameters": {
            "XApiTokenOptional": {
                "in": "header",
                "name": "X-Api-Token",
                "schema": {
                    "type": "string"
                },
                "description": "Identifies the calling user; optional in this case",
                "required": false
            },
            "XApiToken": {
                "in": "header",
                "name": "X-Api-Token",
                "schema": {
                    "type": "string"
                },
                "description": "Identifies the calling user.",
                "required": true
            },
            "XApiElaborate": {
                "in": "header",
                "name": "X-Api-Elaborate",
                "schema": {
                    "type": "string"
                },
                "description": "If set to `true`, returned objects will include all info from related child objects.  If unset or set to any other value, returned objects will include abbreviated objects for related children.",
                "required": false
            },
            "ExperimentID": {
                "in": "path",
                "name": "experiment_id",
                "schema": {
                    "$ref": "#/components/schemas/PortalID",
                    "examples" : {
                        "uuid" : {
                            "value": "a194e2be-1e5b-4617-84de-c4966cb5c578",
                            "summary": "UUID of an experiment"
                        },
                        "name" : {
                            "value": "myproject,myexperiment",
                            "summary": "Project,Name of an experiment"
                        }
                    }
                },
                "description": "The target experiment.",
                "required": true,
                "examples" : {
                    "uuid" : {
                        "value": "a194e2be-1e5b-4617-84de-c4966cb5c578",
                        "summary": "UUID of an experiment"
                    },
                    "name" : {
                        "value": "myproject,myexperiment",
                        "summary": "Project,Name of an experiment"
                    }
                }
            },
            "ClientNodeID": {
                "in": "path",
                "name": "client_id",
                "schema": {
                    "type": "string",
                    "description": "The client name of a node"
                },
                "description": "The client name of a node",
                "required": true
            },
            "ResGroupID": {
                "in": "path",
                "name": "resgroup_id",
                "schema": {
                    "type": "string",
                    "format": "uuid"
                },
                "description": "The target reservation group",
                "required": true
            },
            "ResGroupReservationID": {
                "in": "path",
                "name": "reservation_id",
                "schema": {
                    "type": "string",
                    "format": "uuid"
                },
                "description": "The target reservation in a reservation group",
                "required": true
            },
            "ProfileID": {
                "in": "path",
                "name": "profile_id",
                "schema": {
                    "$ref": "#/components/schemas/PortalID"
                },
                "description": "The target profile",
                "required": true,
                "examples" : {
                    "uuid" : {
                        "value": "a194e2be-1e5b-4617-84de-c4966cb5c578",
                        "summary": "UUID of a profile"
                    },
                    "name" : {
                        "value": "myproject,myexperiment",
                        "summary": "Project,Name of a profile"
                    }
                }
            },
            "ProfileVersionID": {
                "in": "path",
                "name": "profile_version_id",
                "schema": {
                    "type": "string",
                    "format": "uuid"
                },
                "description": "The target profile version",
                "required": true
            }
        },
        "responses": {
            "400": {
                "description": "Malformed request.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "401": {
                "description": "Unauthorized request.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "403": {
                "description": "Forbidden request.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "404": {
                "description": "Resource not found.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            },
            "500": {
                "description": "Internal server error.",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/Error"
                        }
                    }
                }
            }
        }
    },
    "paths": {
        "/version": {
            "get": {
                "description": "Get system version information.",
                "operationId": "getVersion",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Version"
                                }
                            }
                        },
                        "description": "Version information."
                    }
                },
                "tags": [
                    "Version"
                ]
            }
        },
        "/tokens/this" : {
            "get": {
                "description": "Display calling token's (X-Api-Token header value) metadata.",
                "operationId": "getTokenThis",
                "tags": [
                    "Token"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "CLI",
                        "source": {
                            "$ref": "../examples/tokenGet.sh"
                        }
                    },
                    {
                        "lang": "Python",
                        "source": {
                            "$ref": "../examples/tokenGet.py"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Token"
                                }
                            }
                        },
                        "description": "List of experiments."
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/tokens/this/refresh" : {
            "put": {
                "description": "Refresh calling token (X-Api-Token header value). Caller token must be valid (not yet expired). A new token is returned and the calling token is revoked, be sure to save the new token!",
                "operationId": "refreshTokenThis",
                "tags": [
                    "Token"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "CLI",
                        "source": {
                            "$ref": "../examples/tokenRefresh.sh"
                        }
                    },
                    {
                        "lang": "Python",
                        "source": {
                            "$ref": "../examples/tokenRefresh.py"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Token"
                                }
                            }
                        },
                        "description": "List of experiments."
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/tokens/redeem" : {
            "post": {
                "description": "Redeem code for an auth0 user token",
                "operationId": "redeemToken",
                "tags": [
                    "Token"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Auth0TokenRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RawToken"
                                }
                            }
                        },
                        "description": "A signed Powder JWT token string"
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    },
                    "500": {
                        "$ref": "#/components/responses/500"
                    }
                }
            }
        },
        "/experiments": {
            "get": {
                "description": "Get experiment list",
                "operationId": "listExperiments",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    },
                    {
                        "$ref": "#/components/parameters/XApiElaborate"
                    },
                    {
                        "in": "query",
                        "name": "experiment_id",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        },
                        "description": "Filter by experiment id.",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "creator",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter for matching creator.",
                        "required": false
                    },
                    {
                        "in": "query",
                        "name": "project",
                        "schema": {
                            "type": "string"
                        },
                        "description": "Filter for matching project.",
                        "required": false
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "CLI",
                        "source": {
                            "$ref": "../examples/experimentStatus.sh"
                        }
                    },
                    {
                        "lang": "Python",
                        "source": {
                            "$ref": "../examples/experimentStatus.py"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ExperimentList"
                                }
                            }
                        },
                        "description": "List of experiments."
                    },
                    "400": {
                        "$ref": "#/components/responses/400"
                    },
                    "401": {
                        "$ref": "#/components/responses/401"
                    },
                    "403": {
                        "$ref": "#/components/responses/403"
                    }
                }
            },
            "post": {
                "description": "Create a new experiment.",
                "operationId": "createExperiment",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExperimentCreate"
                            }
                        }
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "CLI",
                        "source": {
                            "$ref": "../examples/experimentCreate.sh"
                        }
                    },
                    {
                        "lang": "Python",
                        "source": {
                            "$ref": "../examples/experimentCreate.py"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Experiment created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Experiment"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Load average too high or too many experiments waiting",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experiments/{experiment_id}": {
            "get": {
                "description": "Retrieve a specific experiment.",
                "operationId": "getExperiment",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    },
                    {
                        "$ref": "#/components/parameters/XApiElaborate"
                    },
                    {
                        "$ref": "#/components/parameters/ExperimentID"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Experiment"
                                }
                            }
                        },
                        "description": "An experiment object."
                    },
                    "400": {
                        "description": "Malformed request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Extend a running experiment, with a duration, number of additional hours, or an explicit end time",
                "operationId": "extendExperiment",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    },
                    {
                        "$ref": "#/components/parameters/ExperimentID"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExtensionRequest"
                            }
                        }
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "CLI",
                        "source": {
                            "$ref": "../examples/experimentExtend.sh"
                        }
                    },
                    {
                        "lang": "Python",
                        "source": {
                            "$ref": "../examples/experimentExtend.py"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Experiment"
                                }
                            }
                        },
                        "description": "An Experiment object."
                    },
                    "400": {
                        "description": "Malformed request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "patch": {
                "description": "Modify a running experiment",
                "operationId": "modifyExperiment",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    },
                    {
                        "$ref": "#/components/parameters/ExperimentID"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ExperimentModify"
                            }
                        }
                    }
                },
                "x-codeSamples": [
                    {
                        "lang": "CLI",
                        "source": {
                            "$ref": "../examples/experimentModify.sh"
                        }
                    },
                    {
                        "lang": "Python",
                        "source": {
                            "$ref": "../examples/experimentModify.py"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Experiment"
                                }
                            }
                        },
                        "description": "An Experiment object."
                    },
                    "400": {
                        "description": "Malformed request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "description": "Terminate an experiment.",
                "operationId": "terminateExperiment",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    },
                    {
                        "$ref": "#/components/parameters/ExperimentID"
                    }
                ],
                "x-codeSamples": [
                    {
                        "lang": "CLI",
                        "source": {
                            "$ref": "../examples/experimentTerminate.sh"
                        }
                    },
                    {
                        "lang": "Python",
                        "source": {
                            "$ref": "../examples/experimentTerminate.py"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Experiment deleted."
                    },
                    "400": {
                        "description": "Malformed request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Unauthorized request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experiments/{experiment_id}/manifests": {
            "get": {
                "description": "Retrieve manifests for a running experiment.",
                "operationId": "getExperimentManifests",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    },
                    {
                        "$ref": "#/components/parameters/ExperimentID"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ManifestArray"
                                }
                            }
                        },
                        "description": "An array of manifests"
                    },
                    "400": {
                        "description": "Malformed request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                         }
                    },
                    "403": {
                        "description": "Forbidden request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experiments/{experiment_id}/vlan/{source_lan}/connect": {
            "post": {
                "description": "Connect a shared vlan in an experiment to another experiment's shared vlan.",
                "operationId": "connectExperimentVlan",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    },
                    {
                        "$ref": "#/components/parameters/ExperimentID"
                    },
                    {
                        "in": "path",
                        "name": "source_lan",
                        "description": "The client id of the lan in the source expedriment",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "target_id",
                        "schema": {
                            "$ref": "#/components/schemas/PortalID"
                        },
                        "description": "The experiment to connect to",
                        "required": true
                    },
                    {
                        "in": "query",
                        "name": "target_lan",
                        "description": "The client ID of the lan in the target experiment",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Connect successful"
                    },
                    "400": {
                        "description": "Malformed request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experiments/{experiment_id}/vlan/{source_lan}/disconnect": {
            "post": {
                "description": "Disonnect a shared vlan in an experiment from another experiment's shared vlan.",
                "operationId": "disconnectExperimentVlan",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    },
                    {
                        "$ref": "#/components/parameters/ExperimentID"
                    },
                    {
                        "in": "path",
                        "name": "source_lan",
                        "description": "The client id of the lan in the source expedriment",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Connect successful"
                    },
                    "400": {
                        "description": "Malformed request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Resource does not exist.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/experiments/{experiment_id}/node/{client_id}": {
            "get": {
                "description": "Get info about a specific node in an experiment",
                "operationId": "getExperimentNode",
                "tags": [
                    "Experiments"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/XApiToken"
                    },
                    {
                        "$ref": "#/components/parameters/ExperimentID"
                    },
                    {
                        "$ref": "#/components/parameters/ClientNodeID"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Node status",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AggregateNode"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Malformed request.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated request.",
                        "content": {
                            "application/json": {
[...]
